.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__chats {
    flex: 1;
    overflow: scroll;
    background-color: white;
}

@media only screen and (max-width: 375px) {
    .sidebar {
        height: 100vh;
    }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2.625),
  only screen and (   min--moz-device-pixel-ratio: 2.625),
  only screen and (     -o-min-device-pixel-ratio: 2.625/1),
  only screen and (        min-device-pixel-ratio: 2.625),
  only screen and (                min-resolution: 441dpi),
  only screen and (                min-resolution: 2.625dppx) { 
    .sidebar {
        flex-direction: row;
        height: 20vh;
    }
    .sidebar__chats {
        flex-direction: row;
    }
    .sidebar::before {
        content:" ";
        background-image: url("../img/hamburger\ logo.png");
    }
}