.app {
    display: grid;
    place-items: center;
    background-color: #dadbd3;
    height: 100vh;
    font-family: 'KoHo', sans-serif;
}

.app__body {
    display: flex;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.5);
}