.app {
    display: grid;
    place-items: center;
    background-color: #dadbd3;
    height: 100vh;
    font-family: 'KoHo', sans-serif;
}

.app__body {
    display: flex;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width:375px) {
    .app__body {
        display: flex;
        flex-direction: column;
    }
    .app__sidebar {
        flex: 0.3;
        height: 30vh;
    }
    .app__chat {
        flex: 0.7;
        height: 100vh;
    }
}